<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <title>ASL</title>
    </head>
    <body>
        <section class="hero is-fullheight">
            <div class="hero-head">
                <div class="top">
                    <div class="abcd">
                        <img src="file:///C:/Users/Anirudh/Downloads/Screenshot 2024-03-10 095011.png" alt="logo" width="150px" height="10px">
                    </div>
                    <h1 class="title center" style="top:0">Sign Language Recognition</h1>
                </div> 
                <div class="navbar has-background-info">
                    <a href="/Home" class="mr-6">Home</a>
                    <a class="mr-6" href="/Page1">Demo</a>
                    <a href="https://study.com/academy/lesson/the-history-of-sign-language.html#:~:text=As%20early%20as%20the%2011th,educate%20deaf%20students%20in%20Spain." class="mr-6">History</a>
                    <a href="https://www.udemy.com/course/learnandmastersignlanguage/?utm_source=adwords&utm_medium=udemyads&utm_campaign=DSA_Catchall_la.EN_cc.INDIA&utm_content=deal4584&utm_term=._ag_82569850245.ad_533220805574.kw._de_c.dm._pl._ti_dsa-392130681248.li_1007816.pd.&matchtype=&gad_source=1&gclid=EAIaIQobChMI0Y387vrohAMVp8FMAh0tfAhwEAAYASAAEgLG5_D_BwE" class="mr-6">Online Courses</a>
                    <a href="/details" class="active mr-6" >About Us</a>
                    
                </div>
                
                </div>
                    
                </div>
                <br>
            </div>
            <div class="center">
                <div class="notification is-primary">
                <h3 class="title">Participants</h3>
                    <ul class="is-size-5">
                        <li>Aadhavan Ponniah Anbumunee</li>
                        <li>Anirudh Kashyap Parimi</li>
                        <li>Nataansh Arora</li>
                        <li>Varsha Sreekumar</li>
                    </ul>
                </div>
            </div>
        </section>
    </body>
</html>