<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <title>ASL</title>
    </head>
    <body>
        <section class="hero is-fullheight">
            <div class="hero-head">
                <div class="top">
                    <div class="image-container">
                        <img src="file:///C:/Users/ejaeg/Downloads/ASL.png" alt="logo" width="150px" height="10px">
                    </div>
                    <h1 class="title center" style="top:0">Sign Language Recognition</h1>
                </div>
                <div class="navbar has-background-info">
                    <a href="Home.html" class="active mr-6">Home</a>
                    <a class="mr-6" href="/Page1">Demo</a>
                    <a href="https://study.com/academy/lesson/the-history-of-sign-language.html#:~:text=As%20early%20as%20the%2011th,educate%20deaf%20students%20in%20Spain." class="mr-6">History</a>
                    <a href="https://www.udemy.com/course/learnandmastersignlanguage/?utm_source=adwords&utm_medium=udemyads&utm_campaign=DSA_Catchall_la.EN_cc.INDIA&utm_content=deal4584&utm_term=._ag_82569850245.ad_533220805574.kw._de_c.dm._pl._ti_dsa-392130681248.li_1007816.pd.&matchtype=&gad_source=1&gclid=EAIaIQobChMI0Y387vrohAMVp8FMAh0tfAhwEAAYASAAEgLG5_D_BwE" class="mr-6">Online Courses</a>
                    <a href="/details" >About Us</a>
                    
                </div>
                
                </div>
                    
                </div>
                <br>
            </div>
            <div class="hero-center">
                <div class="columns center is-vcentered">
                    <br>
                  <div class="notification is-primary">
                    <p>
                        <h2 class="title">What is American Sign Language?</h2>
                        American Sign Language (ASL) is a visual language. With signing, the brain processes linguistic information through the eyes. The shape, placement, and movement of the hands, as well as facial expressions and body movements, all play important parts in conveying information.
                    </p>
                  </div>
                  <br>
                  <div class="notification is-info">
                    <p>
                        <h2 class="title">When was it created?</h2>
                        American Sign Language first appeared in the 1800's with the founding of the first successful American School for the Deaf by Thomas Hopkins Gallaudet and Laurent Clerc (first Deaf Teacher from France) in 1817. With strong roots in French Sign Language, ASL evolved to incorporate the signs students would use in less formal settings such as in their home or within the deaf community.
                    </p>
                  </div>
                  <br>
                  <div>
                  <div class="notification is-warning", class="kp">
                    <p>
                        <h2 class="title">Where can I learn it?</h2>
                        There are many ways to learn ASL, such as buying textbooks, attending classes and accessing online material like online courses, youtube videos and mobile apps. <a href="https://youtu.be/r9gCipM-wn0?si=QWYO3WEPDUA_gd0q"> This video offers a quick 10 minutes introduction of American Sign Language to beginners. </a>
                    </p>

                  </div>
                </div>
                </div>
                <div class="center">
                    <div class="c1">
                        Welcome to our Sign Language Recognition platform! Using machine learning and Google's Mediapipe model, we identify ASL cues, specifically focusing on fingerspelling. Users submit video data, and our system predicts and displays the depicted letter or symbol. Our application aids in better communication for the deaf and hearing-impaired, especially in essential scenarios like interviews and medical appointments. Let's break down communication barriers together!
                    </div>

                </div>
                <div class="bottom">
                    <h3 class="subtitle left"> <a href="/Page1" class="b1" target="_blank" >Get Started</a> </h3>
                </div>
            </div>
        </section>
    </body>
</html>